# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Foma Binary files
*.bin

# Train, test, processing files
*.log
*.utf-8
